<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notes for Psocologist </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" [routerLink]="'/note'">
        <ion-icon name="add-circle-outline" />Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content />
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Notes for Psocologist </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for( note of notes;track note) {
    <app-message [note]="note" />
    }
  </ion-list>
</ion-content>
