<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Go back" defaultHref="/" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <form [formGroup]="noteForm">
      <ion-item>
        <ion-input
          formControlName="title"
          label="Input the title"
          placeholder="Enter company name"
        />
      </ion-item>

      <ion-item>
        <ion-textarea
          formControlName="subject"
          placeholder="Type something here"
          [autoGrow]="true"
        />
      </ion-item>
    </form>
  </ion-list>
  <div class="wrapper">
    <div class="ion-activatable ripple-parent custom-parent">
      Clear
      <ion-ripple-effect />
    </div>

    <div class="ion-activatable ripple-parent" (click)="saveNote()">
      Save
      <ion-ripple-effect class="custom-ripple" />
    </div>
  </div>
</ion-content>
